@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.ql-toolbar {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-top: none !important;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  width: 650px;
}

.ql-container {
  border: 0px !important;
  width: 650px;
}

.ql-editor {
  font-size: 13px;
  font-family: "Inter";
  color: black;
  opacity: 0.9;
}

strong {
  font-weight: 700;
}
